<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<springProperty scope="context" name="LOG_NAME_PREFIX" source="spring.application.name"
					defaultValue="smsf"/>
	<!-- 文件输出格式 -->
	<property name="PATTERN"
		value="%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%-5level] Thread[%thread] [%c] [%L] %msg%n" />
	<!-- test文件路径 -->
	<property name="LOG_PATH" value="./logs" />
	<!-- 本地环境 -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>
	<appender name="ROLLING-FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- 文件名称 -->
			<fileNamePattern>${LOG_PATH}/${LOG_NAME_PREFIX}_%d{yyyy-MM-dd}_%i.log
			</fileNamePattern>
			<!-- 单个日志文件最多 100MB, 60天的日志周期，最大不能超过10GB -->
			<maxFileSize>100MB</maxFileSize>
			<maxHistory>6</maxHistory>
			<totalSizeCap>10GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ROLLING-FILE" />
	</root>
</configuration>